#####################################  CONSOLE CONFIGURATION FILE  #####################################
# black
# red
# green
# yellow
# blue
# magenta
# cyan
# white
# Example
#[normal_color]=green bold
#[error_color]=red


#################### Set your preference but don't edit the words inside the [ ] ######################

[normal_color]=blue bold
[error_color]=red bold

[welcome_message]=ITT - Checking Configuration Files
[welcome_message_color]=blue
[welcome_message_border_color]=yellow

[panel_message_color]=blue
[panel_message_border_color]=yellow

[question_message_color]=yellow


#######################################################################################################

