babelfish==0.6.0
certifi==2023.7.22
charset-normalizer==3.2.0
flatbencode==0.2.1
guessit==3.7.1
idna==3.4
numpy==1.25.2
opencv-python==4.8.0.76
pymediainfo==6.0.1
python-dateutil==2.8.2
python-decouple==3.8
python-qbittorrent==0.4.3
rebulk==3.2.0
requests==2.31.0
six==1.16.0
tmdbv3api==1.9.0
torf==4.2.1
urllib3==2.0.4
