attrs==23.2.0
babelfish==0.6.1
build==1.2.1
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
diskcache==5.6.3
flatbencode==0.2.1
frozenlist==1.4.1
guessit==3.8.0
idna==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.0.5
mypy-extensions==1.0.0
numpy==2.0.1
opencv-python==4.10.0.84
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
Pygments==2.18.0
pymediainfo==6.1.0
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-qbittorrent==0.4.3
rapidfuzz==3.9.5
rebulk==3.2.0
requests==2.32.3
rich==13.7.1
six==1.16.0
thefuzz==0.22.1
tmdbv3api==1.9.0
tomli==2.0.1
torf==4.2.7
tqdm==4.66.4
typing_extensions==4.12.2
ua-parser==0.18.0
Unidecode==1.3.8
urllib3==2.2.2
user-agents==2.2.0
yarl==1.9.4
